<p style="text-align: left;">Although we put 120% effort into making sure that you love what you've ordered, some
    unexpected factors (COVID-19 etc.) may make you unsatisfied. If you need to return or exchange the wear or gear you
    ordered, we hope the following policy would guide you to make your money back &gt;&gt;</p>
<p style="text-align: left;"><strong>What is the time limit for return?</strong></p>
<p style="text-align: left;">You have a max of 30 days to make returns. You must send back your items to an informed
    address by customer service. No returns made after 30 days from the purchase date will be accepted.</p>
<p style="text-align: left;"><strong>What kinds of items are eligible to return?</strong></p>
<ul style="text-align: left;">
    <li>All item(s) must be unworn and in the original condition with the original packaging and all tags attached. Any
        garments that appear to have been worn, washed, or altered in any way will not qualify for a refund.</li>
    <li>Other items marked "Final Sale" and/or promotional items (e.g., free gifts-with-purchase, buy-one-get-one-free
        items, etc.) may not be returned.</li>
    <li>We will process no items that are not related to woohill.</li>
    <li>Notice: The original shipping fee and insurance are non-refundable.</li>
</ul>
<p style="text-align: left;"><strong>How can I make a return?</strong></p>
<ol style="text-align: left;">
    <li>Go to "My account" page and choose the order(s) you want to return.</li>
    <li>Follow the steps on the return page, and complete all information needed.</li>
    <li>Our customer service team will contact you to confirm the information and offer you a return address.</li>
    <li>Ship all return items before the required date.</li>
    <li>Success!</li>
</ol>
<p style="text-align: left;"><strong>How can I check my refund process?</strong></p>
<p style="text-align: left;">Refunds will be processed to the original payment method.</p>
<p style="text-align: left;">After your return has been processed and returned to our facilities, please expect up to 7
    days for the refund to hit your bank account. As always, we stand on the side of overcommunicating with the
    important things, so we will send you an email once your return package has been received and your refund is on the
    way to your bank account. If you haven't received an email from us within 28 days, please contact us.<br /><br />
</p>
<p style="text-align: left;">If you have some problems when you are visiting our website or making a purchase, please
    leave your massage via email.<br /><br /></p>
<div class="item-t title-main" style="text-align: left;"><strong>Return Address：</strong>Please contact our Customer
    Service if you wish to return any items to the nearest return address. You will receive a response as soon as
    possible.</div>
<div class="item-p" style="text-align: left;"><b>Notice:<span> </span></b>Please do not send your return to the address
    on your package. That is not our return address and will affect the processing of your return.</div>
<p style="text-align: left;"><strong>E-mail</strong>：<span style="color: #967f5d;"><a
            href="mailto:contactus@woohill.com"
            style="color: #967f5d; text-decoration: underline;">contactus@woohill.com</a></span><br />(Notice: Due to
    the time difference, your email response may be delayed. We guarantee a response within 24 hours, so please be
    patient.)</p>