<p><strong><b><span>Shipping Area</span></b></strong></p>
<p>Our logistics system supports worldwide shipping. But for some special locations, we may need additional information
    from you to make fast and safe delivery. If this happens, we will contact you as soon as possible.</p>
<p>If the destination address is very remote, we may charge an extra delivery fee from you to make sure our logistics
    partner can make a quick and safe delivery. We will also inform you by official email and help you to process the
    additional fee. However, we will still make our earnest effort to cover the available address as our standard
    delivery option.</p>
<p><strong><b><span>Shipping Cost</span></b></strong></p>
<p>The shipping cost depends on the shipping method you choose on the order settlement page and your receiving location.
    When you enter your specific address, and after choosing the shipping method, you will see the shipping cost on the
    page.</p>
<p><strong><b><span>Free Shipping Promotion</span></b></strong></p>
<p>We want to help you get your items as fast and affordably as possible. That's why we’re very happy to offer Free
    Standard Shipping with any online purchase of $60+. </p>
<br />
<table border="1">
    <tbody>
        <tr>
            <td><strong>Order</strong></td>
            <td><strong><b>Method</b></strong></td>
            <td><strong><b>Shipping Time</b></strong></td>
            <td><strong><b>Price</b></strong></td>
        </tr>
        <tr>
            <td>$0-$39.99</td>
            <td>Standard Shipping</td>
            <td>To US,UK,FR,DE,NZ: 10-20 Business Days<br />To Other Countries: 15-28 Business Days</td>
            <td>$8.9</td>
        </tr>
        <tr>
            <td>$40-$59.99</td>
            <td>Standard Shipping</td>
            <td>To US,UK,FR,DE,NZ: 10-20 Business Days<br />To Other Countries: 15-28 Business Days</td>
            <td>$3.9</td>
        </tr>
        <tr>
            <td><strong>$60+</strong></td>
            <td>Standard Shipping</td>
            <td>To US,UK,FR,DE,NZ: 10-20 Business Days<br />To Other Countries: 15-28 Business Days</td>
            <td><strong><b>FREE</b></strong></td>
        </tr>
    </tbody>
</table>
<p><strong><b><span><br /></span></b></strong>Delivery area
    includes:<span>Brazil,Argentina,Colombia,Chile,Taiwan(CN),Macao(CN),Hong Kong(CN),Singapore,Korea,Japan,United
        States,Russia,France,Italy,Germany,United
        Kingdom,Portugal,Australia……</span><strong><b><span><br /><br />Delivery time</span></b></strong></p>
<p>After you complete your order on woohill.com, we will process your order as soon as possible. So, when you make a
    purchase to the time you receive what you expect, it contains two parts. That is</p>
<p>Total time = processing time + shipping time.</p>
<p>For most situations, it takes around 5 business days to complete the processing time.</p>
<p>Shipping time varies depending on the country where you are and the shipping method you choose. For most countries,
    it takes 10-15 business days (Standard Shipping) or 5-9 business days (Expedited Shipping).</p>
<p>(Notice: Now, we only support the Standard Shipping method. Soon, an Expedited Shipping method will be launched.)</p>
<p><strong><b><span>It may take approximately 10 - 20 days to receive your purchased items.</span></b></strong></p>