#main-collection-product-grid-box{
  display: flex;
  position: relative;
}
#main-collection-product-grid-box #main-collection-filters{
  width: 35%;
  position: absolute;
  right: 0;
  top: 15px;
  padding: 10px;
  /* display: none; */
  /* border: 1px #ccc solid; */
  z-index: 18;
  background: #fff;
}
#main-collection-product-grid-box #ProductGridContainer {
  flex: 1;
}
.product-grid .grid__item {
  padding-bottom: var(--grid-mobile-vertical-spacing);
}
.collection-hero__title.filter {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.filter .icon {
  margin-left: 10px;
}
.filter .icon-ny-minus{
  display: none;
}
@media screen and (min-width: 750px) {
  .product-grid .grid__item {
    padding-bottom: var(--grid-desktop-vertical-spacing);
  }
}
@media screen and (max-width: 989px) {
  #main-collection-product-grid-box{
    display: block;
  }
  #main-collection-product-grid-box #main-collection-filters{
    width: 90%;
    padding-right: 0;
    top: 0;
  }
}