<div class="info">
    <div id="info-main">
        <div class="info-header">
            <div class="header">
                About COVID-19
            </div>
            <div>
                <p size="0" >
                    <span>We are
                        still put every effort into fighting with COVID-19 and protect our staffs and goods from
                        danger.
                        <br />
                        <br />
                        But due to increased volume and the impact of COVID-19, we are experiencing
                        delays in processing and shipping. Therefore, your order may take longer than usual to arrive
                        and we are working diligently to get them to you as quickly as possible.
                    </span>
                </p>
                <p>
                    All of our packages and warehouses are rigorously disinfected several times daily using hospital
                    standards. Our employees also get daily checkups by medical professionals. So your packages are
                    totally safe.<br /><br />
                    <img src="https://img.shoplazza.com/fb12f81ab52a48c32300c9b067a9782a.png"
                        alt="" height="780" width="780" /><br /><br />
                        We also would like to appeal to our dear consumers
                    to wash your hands regularly, wear masks, and disinfect the packaging of the goods received in a
                    timely manner.
                </p>
            </div>
        </div>
        <div id="leftMenu">
            <ul>
                <li>Privacy Policy</li>
                <li>Shipping and Delivery</li>
                <li>Terms and Condition</li>
                <li>Intellectual Property Rights</li>
                <li>Terms of Service</li>
                <li>Refund policy</li>
                <li>Frequently Asked Questions</li>
                <li>Contact Us</li>
                <li>Payment Methods</li>
                <li>Track Your Order</li>
            </ul>
        </div>
        <div id="content">
            <div id="privacy" class="content"></div>
            <div id="shipping" class="content"></div>
            <div id="condition" class="content"></div>
            <div id="intellectual" class="content"></div>
            <div id="service" class="content"></div>
            <div id="refund" class="content"></div>
            <div id="questions" class="content"></div>
            <div id="contact_us" class="content"></div>
            <div id="pay_methods" class="content"></div>
            <div id="order" class="content"></div>
        </div>
    </div>
</div>

<script>

</script>