{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
<div>
  收藏页
  <div class="collect">

  </div>
</div>
<script>
  async function postData(url, data) {
    const response = await fetch(`https://api-dev.leandow-technology.com/api/${url}`, {
      method: 'POST',
      mode: 'cors',
      cache: 'no-cache',
      credentials: 'same-origin',
      headers: {
        'Content-Type': 'application/json',
        "siteValue": "leandowTest",
        "Access-Control-Allow-Origin": "*"
      },
      redirect: 'follow',
      referrerPolicy: 'no-referrer',
      body: JSON.stringify(data)
    });
    return response.json();
  }
  var collectList = {
    current: 1,
    customerId: "{{customer.id}}",
    size: 20
  }
  function getCollectList() {
    postData("customerCollectionProduct/collectionProductList", collectList)
      .then(res => {
        var ids = ""
        res.data.records.forEach((item, index) => {
          if (index === 1) {
            ids = `id:${item.productId}`
          } else {
            ids = ids + " OR " + `id:${item.productId}`
          }
        });
        fetch(`/search?q=${ids}&type=product`)
          .then((rs) => { return rs.text() })
          .then((rs) => {
            let dom = new DOMParser().parseFromString(rs, 'text/html');
            console.log(dom.querySelector(".product-grid"));
            document.querySelector('.collect').appendChild(dom.querySelector(".product-grid"))
            getCollectNode()
          })
      });
  }
  if ("{{ customer.id}}") {
    getCollectList()
  }
</script>